

body{

    font-family: "Roboto", sans-serif;
    background-color: #f2f2f2;
}
h1 {
    color: #20a8b4;
  }
  span {
    color: #ff5c0f;
  }


li:hover {
    color: #ff5c0f;   

}

img{
    display: none
}

   button{
       width: 100%; /*all buttons should be 100% width on mobile and go to auto with on desktop*/
       padding: 12px;
       border-radius: 10px;
       border: none;
       background-color: #20a8b4;
       color: #ff5c0f;
 }


    button:hover {
    background-color: #ff5c0f;
    color: #000;
}

@media screen and (min-width: 768px) {
    img{  
        display:inline;
     float:right;
    }

    button{
        width: auto; /*all buttons should be 100% width on mobile and go to auto with on desktop*/
        padding: 12px;
        border-radius: 10px;
        border: none;
        background-color: #20a8b4;
        color: #ff5c0f; 
}
h1 {
    color: #20a8b4;
  }
  span {
    color: #ff5c0f;
  }

  .flex-container {
      display: flex;
      flex-direction: row;
  }

}